<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Money Box</title>
  {{ style('main') }}
</head>
<body>
  <main id="main">
    <h1 class="text-primary" id="sectionInfo">Add your account number to your money box account</h1>
    <form id="addAccountNumberForm">
      <div class="input-group">
        <label class="input-label">&#x1f4b3;</label>
        <input type="number" name="account_no" class="input" id="amount" placeholder="Enter account number" required>
      </div>
      <div class="input-group">
        <label class="input-label">&#x1f3e2;</label>
        <select name="bank_code" class="input" id="bank_code" required>
          <option value="">Select Bank</option>
        </select>
      </div>
      <button type="submit" class="button button-primary" id="submitButton">Add</button>
    </form>
  </main>
</body>
{{ script('addAccountNumber') }}
</html>
