<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Money Box</title>
  {{ style('main') }}
</head>
<body>
  <main id="main">
    <h1 class="text-primary" id="sectionInfo">Add money to your money box account</h1>
    <form id="depositForm">
      {{ script('https://js.paystack.co/v1/inline.js') }}
      <div class="input-group">
        <label class="input-label">&#8358;</label>
        <input type="number" name="amount" class="input" id="amount" placeholder="Enter amount" required>
      </div>
      <button type="submit" class="button button-primary" id="submitButton">DEPOSIT</button>
    </form>
  </main>
</body>
{{ script('deposit') }}
</html>
