<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Money Box</title>
  {{ style('main') }}
</head>
<body>
  <main id="main">
    <h1 class="text-primary" id="sectionInfo">Withdraw money from your money box account</h1>
    <form id="withdrawForm">
      <div class="input-group">
        <label class="input-label">&#8358;</label>
        <input type="number" name="amount" class="input" id="amount" placeholder="Enter amount" required>
      </div>
      <p>Please enter your password for security reasons</p>
      <div class="input-group">
        <label class="input-label">&#128274;</label>
        <input type="password" name="password" class="input" id="password" required>
      </div>
      <button type="submit" class="button button-primary" id="submitButton">Withdraw</button>
    </form>
  </main>
</body>
{{ script('withdraw') }}
</html>
